# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Dependency lock files (optional)
package-lock.json
yarn.lock

# Coverage
coverage/